*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.main{
	min-height: 100vh;
	width: 100%;
	background: url(image/background.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.logo{
	width: 200px;
	height: 100px;
	cursor: pointer;
}
nav{
	background-color: white;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 5px 0;
	justify-content: space-between;
}
.navlinks{
	display: flex;
}
.navlinks ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 8px;
	position: relative;
}
.navlinks ul li a{
	text-decoration: none;
	color: orange;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.navlinks ul li::after{
	content: '';
	width: 0;
	height: 2px;
	background: grey;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.navlinks ul li:hover::after{
	width: 100%;
}
.body{
	width: 90%;
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.body h1{
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
}
.body p{
	margin: 10px 30px 20px;
	font-size: 25px;
	color: white;
	font-family: 'Roboto', sans-serif;
}
.body input{
	border: 2px solid orange;
	margin: 25px 25px 25px;
	border-radius: 25px;
	padding: 12px 20px;
}
::placeholder{
	color: grey;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}
.burtnn{
	display: inline-block;
	text-decoration: none;
	color: white;
	margin: 25px 25px 25px;
	border: 2px solid grey;
	border-radius: 10px;
	padding: 12px 20px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	background: orange;
	position: relative;
	cursor: pointer;
}
.burtnn:hover{
	border: 2px solid grey;
	background: #ef7e56;
	transition: 1s;
}

nav .fa{
	display: none;
}




/*Listings*/
.mainn{
	width: 100%;
	margin: auto;
}
.mainn h2{
	left: 20%;
	text-align: center;
	margin: auto;
	padding-top: 200px;
	color: orange;
	position: absolute;
	transform: translate(-50%, -50%);
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.mainn img{
	flex-basis: 32%;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	margin-top: 175px;
	margin-left: 1.5%;
	width: 350px;
	height: 300px;
	margin-bottom: 35px;
}
.mainn img:hover{
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4);
	transition: 1.5s;	
}

/*footer*/
.footer{
background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
.footer ul li{
	list-style: none;
	margin-top: 50px;
	left: 10%;
	display: inline-block;
	padding: 8px 8px;
	position: relative	
}
.footer ul li a{
	text-decoration: none;
	color: orange;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;	
}
.footer ul li::after{
	content: '';
	width: 0;
	height: 2px;
	background: grey;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.footer ul li:hover::after{
	width: 100%;
}
.footer .fa{
	color: orange;
	margin-top: 35px;
	margin-left: 20px;
}
.footer p{
	margin-left: 9%;
	font-size: 10px;
	font-family: 'Roboto', sans-serif;	
}

@media(max-width: 1000px){
	.main{
			min-height: 100vh;
			width: 100%;
			background: url(image/background.jpg);
			background-position: center;
			background-size: cover;
			position: relative;
	}

		.body h1{
		font-size: 20px;
	}
	.navlinks ul li{
		display: block;
	}
	.navlinks{
		position: absolute;
		background: lightgrey;
		height: 100vh;
		width: 65%;
		top: 0;
		right: -550px;
		text-align: left;
		z-index: 2;
	}
	nav .fa{
		display: block;
		color: orange;
		margin: 3px;
		font-size: 20px;
		cursor: pointer;
	}
	.navlinks ul{
		margin-top: 20px;
		padding: 20px;
	}
	.footer ul li{
		left: 0%;
	}
}